<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>942347882460-t8s2it6ku0hn4fuo1pdbbt6123enjk2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942347882460-t8s2it6ku0hn4fuo1pdbbt6123enjk2j</string>
	<key>API_KEY</key>
	<string>AIzaSyBVnqaIULb4wvrDWThmJTVFiz6hmKNWfrg</string>
	<key>GCM_SENDER_ID</key>
	<string>942347882460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PEL.SPIN</string>
	<key>PROJECT_ID</key>
	<string>spin-98416</string>
	<key>STORAGE_BUCKET</key>
	<string>spin-98416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:942347882460:ios:abfb480dcd24d5c5</string>
	<key>DATABASE_URL</key>
	<string>https://spin-98416.firebaseio.com</string>
</dict>
</plist>